<html>
<head>
	<title>Gothons From Planet Percal #25</title>
	<style type="text/css">
		body {
			background-color: #EEE5DE
		}
		h1, pre, form, p {
			text-align: center;
		}
	</style>
</head>
<body>
	<h1 style="text-align: center;"><i>Projeto desenvolvido com o framework Sinatra</i></h1>
	</br>
	</br>
	<%= yield %>
</body>
</html>
